/* ================================================================ */
/* Copyright: Kurniawan Aji S                                */
/* Tema : Smartfren - WOW                                    */
/* ================================================================ */

/* HEADER */
body{width: 100%;}
/* BODY */
h1{font-family: TruenoBlk;color: #fff;font-size: 30px;}
section{padding: 30px 0;}
section#home{padding: 30px 0 0;}
header{z-index: 2;padding: 15px 0; position: fixed;top: 0;width: 100%;background: #FF1659 /*url('../img/bg_wow.jpg') no-repeat top left*/}
header + * {
  padding-top: 70px;
}
.logo{}
.btn-back{background: #F7B500; color: #fff!important; padding: 10px 40px;font-size: 24px;font-family: TruenoBd}

.shr{display: none;position: relative;}
.shrp{position: absolute;top: -15px; right: 40px;border: 0px solid #eee;padding: 5px;border-radius: 5px;font-size: 30px; }
.shrp a{color: #fff; padding: 0 5px}
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56%;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.bg-white{background-color: #fff}
.bg-red{background-color: #FF1659}
#layanantar{background-color: #fff; color: #000}
#time .board{background: url(../img/board.png) no-repeat center center;width: 424px; height: 224px;margin: 30px auto; font-size: 72px;word-spacing: 35px;padding-top: 10px;padding-left: 0px}
.multiple-items{clear: both;}
.slick-prev, .slick-next{top: 45%!important;}
.slick-prev:before, .slick-next:before{font-size: 35px!important;color: #000!important}
.slick-prev:before{margin-left: -13px!important;}
/* Activity */
.activity{background: #F7F7F7; border: 1px solid #979797; padding: 50px 0;}
.activity h3{color: #595959; font-size: 25px; font-family: TruenoBlk; padding: 10px 0;}
.act{background: #fff;padding: 30px;box-shadow: 0px 2px 4px rgba(0,0,0,0.3);}
.act p{color: #595959; font-size: 25px;font-family: TruenoBlk; margin-top: -15px;}

.box-activity{padding: 30px 0 60px;}
/*.box{background: url(../img/DQ.png) no-repeat center center}*/
.box img{width: 90%; margin: 0 auto;display: block; padding: 30px 0;}

span.lu,a.lu{font-size: 24px;}
a.lu{color: #FFDC7D}
/* LineUp*/
#lineup{}
#lineup p.lu-name,#gallery p.lu-name{font-size: 25px;margin-top: -30px;color: #fff;}
.lu-img img{display: inline-block;}
.modal-body p.lu-name{font-size: 16px!important;margin-top: -25px!important}
.foodtruck p.lu-name{font-size: 14px!important;color: #fff}
/* GALLERY */
.list p{background: url(../img/inv-icon.png) no-repeat;padding: 0 40px; font-size: 24px;color: #fff;font-family: TruenoSBd}
.list-gallery{margin: 0px 60px;}
.list-gallery div{margin: 0px 0px 20px;min-height: 170px;}
.list-gallery p{color: #fff;font-size: 20px;line-height: normal;font-weight: normal;}
.list-gallery a img{padding-right: 15px;}
.list-gallery a{color: #FFDC7D;}

.ticket,.ticket h1, .ticket .list p{color: #595959}
.ticket .list p{background: url(../img/inv-icon-dark.png) no-repeat center left;}
h1.color-white{color: #fff!important}

.circle { 
   width: 240px;
   height: 240px;
   /*background: #FF1659; */
   -moz-border-radius: 120px; 
   -webkit-border-radius: 120px; 
   border-radius: 120px;
   margin: 0 auto;
}
.circle img{width: 80%; margin: 0 auto;padding-top: 40px;}
ol li a{color: #fff!important}

.venue .venue-img{float: left;padding: 0 20px 0 0}
.venue .venue-desc{font-size: 30px;padding-top: 5px;}
/* FOOTER */
.footer-top{
  width: 100%;
  background: #323232;
  padding: 0px 0 20px;
  text-align: center;
  display: block;
}
.footer-top p{color: #fff}
.footer-top h2{color: #fff}
.segment-one h2{
  color: #fff;
  text-align: center;
}

.segment-one a{
}

.segment-two h2{
  color: #fff;
}

.segment-two a{
  background: #323232;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
}

.segment-two a i{
  font-size: 20px;
  color: #fff;
  padding: 10px 0px;
}

.segment-three h2{
  text-align: center;
}
.segment-three p{
  text-align: center;color: #fff;
}

.modal-content{background: #FF1659 url('../img/bg_wow.jpg') no-repeat top left}
.modal-header{border-bottom: 0}
.modal-header .close{margin-top: -20px;}
button.close{font-size: 40px; color: #fff; opacity: 1}

.myaccordion {
  margin: 50px auto;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
}
 
.myaccordion .card,
.myaccordion .card:last-child .card-header {
  border: none;
}
 
.myaccordion .card-header {
  border-bottom-color: #EDEFF0;
  background: transparent;
}
 
.myaccordion .card-body{overflow: hidden;}
.myaccordion .card-body p{margin-left: 40px;}
.myaccordion .card-body ol li{font-weight: bold;}

.myaccordion .fa-stack {
  font-size: 18px;
}
 
.myaccordion .btn {
  width: 100%;
  font-weight: bold;
  color: #FFDC7D;
  padding: 10px 0;
  background: #000; 
}
 
.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
  text-decoration: none;
}
 
.myaccordion li + li {
  margin-top: 10px;
}

img.img-sfid{float: right;}
ul.check-kupon{margin: 150px 0;padding: 0}
ul.check-kupon li{float: left;}
ul.check-kupon li img{float: left;padding: 20px;}
ul.check-kupon li .text{float: left;color: #595959; text-align: left;padding-top: 22px;}
ul.check-kupon li .text p.head{font-size: 20px; line-height: normal}
