/* ================================================================ */
/* Copyright: Kurniawan Aji Saputra                                 */
/* Tema : Smartfren - WOW                                    */
/* ================================================================ */

@media(max-width: 800px){
 	header{padding: 5px 0;}
 	header + * {
	  padding-top: 88px;
	}
	img.logo-left{margin: 0 auto 10px;width: 90px; display: block;}
	img.logo-right{position: absolute;right: 20px; top: -35px;width: 20px}
	img.logo-center{width: 110px}
	span.lu, a.lu{display: block;text-align: center;}
	.slick-slide img{margin: 0 auto;}
	.multiple-items{overflow-x: hidden!important;}
	.multiple-items.h .slick-prev{left: 35px!important;z-index: 99}
	.multiple-items.h .slick-next{right: 35px!important;}
	.multiple-items .slick-prev{left: 5px!important;}
	.multiple-items .slick-next{right: 5px!important;}
	.box{margin-top: 20px;}
	.shrp{top: -60px}
	#demo .col-md-4{width: 32%!important;display: inline-block;float: left;padding-left: 35px;}

	.slick-slide img{width: 65%;}
	ul.check-kupon li{width: 100%}
	ul.check-kupon li img{float: none;}
	ul.check-kupon li .text{text-align: center;width: 100%}
	ul.commerce{padding: 0;}
	ul.commerce li .col-md-2{width: 30%;float: left;}
	ul.commerce li .col-md-2 img{width: 100%;}
	.list-gallery{margin: 0 10px;}
	.thumb-vid .col-md-4{width: 50%; float: left;padding: 0;}
	.thumb-vid .col-md-4 img{max-width: 100%;padding: 5px;}
}

@media (max-width: 450px) {
  .shrp{right: 35px}
  .shrp a{padding: 0px}
  #time .board{width: 300px;background-size: 300px auto; font-size: 45px; padding-top: 47px; margin: 0 auto;padding-left: 0;text-align: center;}
  /*#demo .col-md-4{width: 32%!important;display: inline-block;float: left;padding-left: 35px;}*/
  .list p{font-size: 20px;}

}